body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	position: relative;
	height: 100%;
}

.main {
	background-color: skyblue;
	height: 100%;
	left: 200px;
	right: 300px;
	position: absolute;
	top: 0;
}

.main header {
	background-color: lightgray;
	height: 30px;
}

.left {
	background-color: pink;
	width: 200px;
	height: 100%;
	overflow: hidden;
	margin-right: auto;
}

.right {
	background-color: greenyellow;
	width: 300px;
	height: 100%;
	margin-left: auto;
	position: absolute;
	top: 0;
	right: 0;
}

footer {
	background-color: yellow;
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
}
