* {
    margin: 0;
    padding: 0;
}

.screen {
    background-color: rgb(19.7%, 77.7%, 77.7%);
    position: relative;
}

.icon {
    position: absolute;
    width: 40px;
    height: 30px;
    background: linear-gradient(#ff9f9f, #e57373);
}

.icon:hover {
    width: 40px;
    height: 30px;
    background: linear-gradient(#ff9f9f, #e57373);
    cursor: pointer;
}

.folder {
    background: linear-gradient(#dfe573, #e5d073);
}

.folder:hover {
    background: linear-gradient(#dfe573, #e5d073);
}

.window {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 500px;
    height: 350px;
    background: #fff;
    border: 2px dashed #000;
    text-align: center;
}