* {
    margin: 0;
    padding: 0;
}

.screen {
    background-color: rgb(19.7%, 77.7%, 77.7%);
    position: relative;
}

.icon {
    position: absolute;
    width: 40px;
    height: 30px;
    background: linear-gradient(#ff9f9f, #e57373);
}

.icon:hover {
    width: 40px;
    height: 30px;
    background: linear-gradient(#ff9f9f, #e57373);
    cursor: pointer;
}

.window {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999;
    width: 250px;
    height: 200px;
    background: #fff;
    border: 1px solid #000;
}