* {
    margin: 0;
    padding: 0;
}

a,
button {
    color: #404040;
    text-decoration: none;
}

a:hover,
button:hover,
input:hover {
    color: rgba(218, 44, 102, 0.788); 
    text-decoration: none; 
    cursor: pointer;  
	opacity: 0.8;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    outline: none;
}

ul, li {
	list-style: none;
}

h1, h2 {
	margin: 1rem auto;
}

body {
    background-color: #ffffff;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'mono';
    font-weight: 400;
}

textarea,
input {
	outline: none;
}

.main {
    display: flex;
    flex-flow: column;
    position: relative;
}

.memo-board {
    display: flex;
    justify-content: center;
}

.memo {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    width: 50%;
} 

.template {
    display: none;
}

.selected {
    background-color: #f9f9f9;
}
.visible {
    visibility: visible;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.tab {
    padding: 10px;
    display: inline-block;
    min-width: 150px;
    border: 1px solid #aaa;
}

.tab:hover {
    cursor: pointer;
    opacity: 0.7;
}

.tab .title {
    display: inline-block;   
}

.content,
.memo .title {
	border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.memo .title {
    line-height: 30px;
    max-width: 300px;
    margin: 0 auto;
}

.memo .content {
    margin: 1rem auto;
    overflow-y: scroll;
    font-size: 22px;
}

/* .title {
    margin: 1rem auto 0;
} */

.content {
    height: 500px;
    width: 60%;
    padding: 10px;
}

.submit-area {
	margin: 1rem auto;
}

.submit-btn,
.update-btn,
.newmemo-btn,
.removetab-btn {
	border: none;
	padding: 5px 10px;
    border-radius: 2px;
    background-color: #f8ebe7;
}

.removetab-btn {
    float: right;
}

.login {
    background-color: #eee;
}

form {
    display: flex;
}

.disable {
    visibility: hidden;
}