* {
    margin: 0;
    padding: 0;
}

a,
button {
    color: #404040;
    text-decoration: none;
}

a:hover,
button:hover,
input:hover {
    color: rgba(218, 44, 102, 0.788); 
    text-decoration: none; 
    cursor: pointer;  
	opacity: 0.8;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    outline: none;
}

ul, li {
	list-style: none;
}

h1, h2 {
	margin: 1rem auto;
}

body {
    background-color: #ffffff;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'mono';
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-flow: column;
    position: relative;
}

.memo-board {
    display: flex;
    justify-content: center;
}

.memo-board-wrapper {
    margin: 2rem 0;
}

.memo-board-new {
    display: flex;
    flex-flow: column;
    width: 50%;
}

.visible {
    visibility: visible;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.list-item {
    padding: 0 10px;
    display: inline-block;
}

.list-item:hover {
    cursor: pointer;
    opacity: 0.7;
}

textarea,
input {
	outline: none;
}

.text,
.title {
	border-radius: 3px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.text,
.title {
    width: 40%;
    margin: 1rem auto;
}

.text,
.title {
    overflow-y: scroll;
    font-size: 22px;
}

.title {
    margin: 1rem auto 0;
}

.text {
    height: 500px;
    width: 60%;
    padding: 10px;
}

.submit-area {
	margin: 1rem auto;
}

.submit-btn,
.update-btn,
.newmemo-btn {
	border: none;
	padding: 5px 10px;
    border-radius: 2px;
    background-color: #f8ebe7;
}

.login {
    background-color: #eee;
}

form {
    display: flex;
}

.disable {
    visibility: hidden;
}