* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: sans-serif;
}

body {
	color: #6b6b6b;
	height: 100%;
	background: transparent;
}

ol, ul, li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: #6b6b6b;
	cursor: pointer;
}

strong {
	color: #404040;
}

button {
	border: none;
    margin: 0;
    padding: 0;
	background: transparent;
	cursor: pointer;
}

/* 재사용 클래스 */
/* layout */

.flex {
	display: flex;
	align-items: center;
}

.flex-align {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* element */

.box {
	border: 1px solid #eee;
	border-radius: 3px;
}

.button-wrapper {
	margin-left: 10px;
    border: 1px solid #ccc7c7a8;
    border-radius: 4px;
	padding: 5px 20px;
}

.button {
	font-size: 14px;
	font-weight: 500;
	border-radius: 3px;
}

#wrapper {
	width: 1024px;
	margin: 0 auto;
}

.page-header {
	height: 80px;
	background-color: #2c2b2b;
	color: #ffffff;
	padding: 20px 0;
}

.header-wrapper,
.header-list {
	display: flex;
	justify-content: space-between;
}

.logo svg {
	fill: #ffffff;
}

.search-wrapper {
	border-radius: 3px;
	background-color: #404040;
	margin-left: 15px;
}

.search {
	display: flex;
	align-items: center;
	height: 100%;
	line-height: 1.5;
}

.search div {
	padding: 8px 10px 0 10px;
    border-right: 1px solid #2c2b2b;
    height: 100%;
}

.search span {
	color: #ffffffc9;
	font-weight: 500;
} 

.search-wrapper .search .search-input {
	background-color: transparent;
	border: none;
	outline: none;
    border-radius: 0 3px 3px 0;
	padding: 8px;
	font-size: 14px;
}

.header-menu,
.header-noti {
	display: flex;
	align-items: center;
}

.header-noti-list {
	margin-left: 10px;
}

.page-header li > a {
	margin: 0 10px;
	color: #d1cfcf;
}

.noti-link:hover {
	opacity: 0.7;
}

.noti-link svg,
.octicon-repo,
.nav-list-item svg {
	fill: #d1cfcf;
}

.octicon-plus,
.octicon-bell {
	width: 20px;
	height: 20px;
}

.octicon-triangle-down {
	width: 10px;
	height: 10px;
	line-height: 2;
	margin: 5px 2px;
}

.profile-pic {
	width: 20px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1cfcf;
}

.page-header .header-noti-list .noti-link {
	display: flex;
	position: relative;
}

.noti-mark {
	display: inline-block;
    position: absolute;
    top: -7px;
    right: -4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: linear-gradient(#1919e8, #5e4ee5);
    border: 2px solid #2c2b2b;
}

.main-header {
	background-color: #fafbfc;
	position: relative;
}

.main-header h1 {
	font-size: 24px;
}
.main-header h1 > a,
.file-link {
	color: #3232fc;
}

.main-header .repo-link {
	font-weight: 400;
}

.main-header-wrapper {
	margin: 30px auto;
}

.repo-menu {
	display: flex;
}

.repo-menu .button-wrapper {
	display: flex;
	background-color: #eeeeee;
	padding: 0;
}

.repo-menu .button {
	padding: 5px 10px;
}

.repo-menu span {
	display: inline-block;
    font-size: 14px;
	border-left: 1px solid #e3e3e3;
	border-radius: 0 3px 3px 0;
	background-color: #ffffff;
	line-height: 1.5;
	padding: 5px 10px;
}

.nav-list {
	display: flex;
}

.nav-list::before,
.nav-list::after {
	content: '';
    display: inline-block;
    height: 1px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
}

.nav-list::before {
	left: 0;
	width: calc((100% - 1024px)/2);
}

.nav-list::after {
	right: 0;
	width: 50%;
}

.nav-list-item {
	padding: 8px 15px;
	display: flex;
}

.nav-list-item svg {
	margin-right: 5px;
}

.nav-list-item .octicon-code {
	fill: #404040;
}

.circle-info {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 1.5;
	background-color: #e3e3e3;
}

.nav-list-item {
	border-bottom: 1px solid #eeeeee;
}

.nav-list-item:first-child {	
	background-color: #ffffff;
	border: 1px solid transparent;
	border-width: 3px 1px 1px 1px;
    border-radius: 3px 3px 0 0;
	border-color: orangered #eee transparent;    
}

.main-detail {
	margin: 30px auto 80px;
}

.main-detail h2 {
	font-size: 18px;
	font-weight: 400;
}

.main-detail-wrapper {
	position: relative;
	margin: 20px auto;
}

.main-detail-menu {
	display: flex;
    justify-content: space-around;
	align-items: center;
	padding: 18px 24px;
}

.main-detail-menu li svg {
	padding-top: 3px;
}

.main-detail-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.red {
	width: 50%;
	height: 10px;
	background-color: red;
}

.yellow {
	width: 30%;
	height: 10px;
	background-color: yellow;
}

.blue {
	width: 20%;
	height: 10px;
	background-color: blue;
	box-shadow: #000000
}

.button-group li > a {
	border-radius: 0;
}

.button-group {
	margin: 0 8px 0 0;
}

.repo-nav-sub .button-wrapper {
	padding: 0;
}

.repo-nav-main button,
.repo-nav-main a {
	margin-left: 4px;
	background-color:#f4f4f4;
}

.repo-nav-main button {
	margin: 0;
}

.button-group li {
	padding: 4px 12px;
	position: relative;
	height: 100%;
	background-color: #eeeeee;
}

.button-group li:after {
	content: '';
	display: block;
	position: absolute;
    top: 0;
    right: 0;
	width: 1px;
	height: 100%;
	background-color: #e3e3e3;
}

.button-group li:first-child {
	border-radius: 3px 0 0 3px;
}

.button-group li:last-child {
	border-radius: 0 3px 3px 0;
}

.button-group li:last-child:after {
	width: 0;
}

.button-group .button {
	border-radius: 0 3px 3px 0;
    line-height: 1.5;
}

.button-clone {
	background-color: #2fba2f;
	padding: 6px 18px;
	border: 1px solid #299729;
	border-radius: 4px;
	color: #ffffff;
}

.button-clone .octicon-triangle-down {
	fill: #ffffff;
	margin: 0;
}

section {
	margin-top: 12px;
}

.repo-file-table {
	width: 100%;
	border-radius: 0 0 3px 3px
}

.repo-file-table td {
	padding: 10px;
	border-top: 1px solid #eee;
}

.repo-file-table tr:first-child td {
	border: none;
}

.repo-file-date {
	text-align: right;
}

.octicon-file-directory {
	fill: #81a0c7;
}

.octicon-file {
	fill: #8f8f8f;
}

.basic-info {
	border: 1px solid #cee1f8;
    border-radius: 3px 3px 0 0;
    background-color: #ebf4ff;
	padding: 10px;
	font-size: 14px;
}

.repo-name {
	display: flex;
	align-items: center;
	width: 25%;
	justify-content: space-around;
}

.repo-name a {
	font-weight: 700;
}

.date {
	color: #8f8f8f;
	font-size: 16px;
}

.readme .box {
	border: 1px solid #cfc9c9;
	border-top: 1px solid transparent;
	border-radius: 0 0 3px 3px;
	padding: 40px;
}

.readme-title {
	border: 1px solid #cfc9c9;
    border-radius: 2px 2px 0 0;
    background-color: #f4f4f4;
    padding: 10px;
	font-size: 14px;
	color: #404040;
}

article h1 {
	font-size: 36px;
	color: #000000;
	padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
}

footer {
	border-top: 1px solid #d9d9d9;
	padding: 40px 0;
}

footer li {
	margin-left: 14px;
}

footer ul {
	font-size: 14px;
}

footer a {
	color: #5881e5;
}