* {
    margin: 0;
    padding: 0;
}

a,
button {
    color: #404040;
    text-decoration: none;
}

a:hover,
button:hover,
input:hover {
    color: rgba(218, 44, 102, 0.788); 
    text-decoration: none; 
    cursor: pointer;  
	opacity: 0.8;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    outline: none;
}

ul, li {
	list-style: none;
}

h1, h2 {
	margin: 1rem auto;
}

body {
    background-color: #ffffff;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-family: 'mono';
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-flow: column;
}

.visible {
    visibility: visible;
}

nav {
    width: 50%;
    margin: 0 auto;
    background: rgb(252, 224, 189);
    visibility: hidden;
}

.memo-list li {
	padding: 0 10px;
	margin: 5px;
	background-color: #f8ebe7;
}

textarea,
input {
	outline: none;
}

form {
    display: flex;
    flex-flow: column;
    visibility: hidden;
}

.memo,
.title {
    margin: 1rem auto;
    width: 40%;
	border-radius: 3px;
	overflow-y: scroll;
    font-size: 22px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.title {
    width: 20%;
    margin: 1rem auto 0;
}

.memo {
    height: 500px;
    padding: 10px;
}

.submit-area {
	margin: 1rem auto;
}

.submit-btn {
	border: none;
	padding: 5px 10px;
    border-radius: 2px;
    background-color: #f8ebe7;
}